bqplot
lmfit
ipycanvas
ipyleaflet
ipywidgets
jupyterlab_miami_nights
jupyterlab~=3.1.0
jupyterlab-drawio
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlite
jupyterlite-p5-kernel
jupyterlite-xeus-lua
jupyterlite-xeus-wren
plotly>=5,<6
theme-darcula
